@use '../../../styles/mixins';

$card-width: 476px;

.card {
    width: $card-width;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include mixins.for-phone-up {
        padding: 4rem 5.5rem;
    }

    padding: 2rem 2.5rem;
}