/* Base */
$background: #161020;

/* Colors */
$color-primary: #8eacff;
$color-pulse: #64bca4;
$color-pulse-text: #161020;

/* Fonts */
$font-stack: "Roboto",
sans-serif;
$small: 0.925rem;
$medium: 1rem;
$large: 1.125rem;
$xxl: 2rem;