@use './theme';

html,
body {
  padding: 0;
  margin: 0;
  background: theme.$background;
  font-family: theme.$font-stack;
  font-weight: normal;
  color: theme.$color-primary;
  font-size: theme.$medium;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

* {
  box-sizing: border-box;
}

/* CSS Variables */
:root {
  --seconds-per-beat: 0s;
}